*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-image: url(../img/natural-default-pattern.png);
}

.container {
  width: 70%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

/* header */
header {
  background-image: url(../img/natural-default-header.jpg);
  position: relative;
  height: 300px;
  border: 10px solid #fff;
}

.header-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.fa-mountain{
  font-size: 50px;
  margin-bottom: 1px;
}

.header-logo h1{
  /* display: inline-block; */
  padding: 5px 10px;
  font-size: 60px;
  margin-bottom: 30px;
  border: 5px solid #fff;
}

/* /header */

.white-rounded{
  background-color: #fff;
  border-radius: 5px;
}
/* nav */
.inside{
  background-color: #514741;
  list-style: none;
  vertical-align: middle;
  text-align: center;
}

.inside li{
  display: inline;
  padding: 0 15px;
  line-height: 60px;
}

.inside a:hover{
  border-bottom: 2px solid #fff;
}

.inside a{
  line-height: 55px;
  color: #fff;
  text-decoration: none;
}
/* header */

/* main */
main{
  margin: 1% 0;
}

main::after{
  content: "";
  display: block;
  clear: both;
}

.col-left{
  float: left;
  width: 23%;
  margin-right: 2%;
  padding: 5px;
}

.col-left .fa-rss-square{
  color: #F5A540;
  font-size: 25px;
}

.first-title{
  display:inline-block;
  color: #504741;
  text-align: center;
}

.list li{
  color: green;
  list-style: none;
  padding:10px;
  font-size: 18px;
}

.col-center{
  float: left;
  width: 50%;
  padding: 15px;
}

.second-title, .third-title{
  color: #504741;
  padding-bottom: 30px;
}

p{
  line-height: 30px;
}

.col-right{
  float: left;
  width: 23%;
  margin-left: 2%;
}

.widget{
  padding: 15px;
  margin-bottom: 25px;
}
/* main */

/* footer */
footer{
  margin-bottom: 25px;
}

footer:after {
  content: "";
  clear: both;
  display: table;
}

h4{
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 5px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3)
}

.social a:hover{
  border-bottom: 2px solid #fff;
}

.social{
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 25px 0;
}

footer .fab{
  font-size: 40px;
  color: rgba(0, 0, 0, 0.3);
}
/* footer */
